.form-signin {
  max-width: 330px;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-top: -40px;
  margin-left: -100px;
}

#loginbox{
    margin-top: 50px;
}

.panel-body{
    padding-top: 30px;
}

.input-group{
    margin-bottom: 25px;
}