#items table {
    border-collapse: collapse;
    width: 100%;
}

#items thead {
    text-align:left;
    display: table;
    float: left;
    width: 100%;
}
#items thead tr {
    display: table-row;
    width: 100%;
}

#items tbody {
    display: block;
    height: 250px;
    overflow: auto;
    float: left;
    width: 100%;
}

#items tbody tr {
    display: table;
    width: 100%;
}

#items tbody tr {
    height: 18px;
}

#items tbody td {
    padding:1px 8px;
}
#items th, td {
    width: 25%;
    text-align: center;
}

#items tr:after{   /* IE8 fix */
    content: ".";
    margin-left: -3px; /* to hide the content above tr */ /* not necessary if you are ok with 1px gap */
    visibility: hidden;
}